body {
    background-color: #F5F5DC;
    margin: 0;
}

/* 全ページ共通のheader, main, footerのスタイル */
header{
    display: flex;        
    align-items: center;  
    gap: 16px; 
    background-color: #D32F2F;
    height: 80px;
    width: auto;
    position: sticky; 
    top: 0; 
}

header img {
    width: 80px; /* 画像の幅を指定 */
    height: auto;  /* 高さは自動調整 */
    border-radius: 8px;
}

main {
    width: auto; 
}

.content-block, .info-section{
    margin: 0 15px 0 15px
}

footer {
    background-color: orange;
    height: 20px;
    width: auto;
    border: 1px solid black;
}

.nav-menu {
    position: fixed;
    top: 0;
    right: 0px; /* 初期状態では画面外 */
    width: 250px;
    height: 100%;
    background: #333;
    transform: translateX(100%);
    transition: transform 0.5s;
    z-index: 99;
}
.nav-menu ul {
    margin-top: 80px;
    padding: 0;
    list-style: none;
}
.nav-menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    transition: background 0.3s;
}
.nav-menu li a:hover {
    background: #555;
}

header div > a {
  color: white;
  text-decoration: none; 
  font-size: 1.4rem; 
  font-weight: bold; 
  transition: text-shadow 0.3s;
}


header div > a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

header nav a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 8px;
  transition: background-color 0.2s; 
}


header nav a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* .is-active クラスが付与された時のスタイル */

/* メニューを画面内に表示 */
.nav-menu.is-active {
    transform: translateX(0);
}

.gallery-container img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

#gallery,
#reason,
#info {
  scroll-margin-top: 80px;
}